/* =====Global===== */
*{
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color:#0078FF;
    --main-margin:15px;
    --main-padding:15px
}
/* ================= */
/* start media */
@media (max-width:992px){
    .container{
        width: 85% !important;
    }
}
/* end media */
/* start Nav */
.navbar .nav-link ,.navbar .active{
    color: #fff !important;
    text-transform: uppercase;
    /* font-size: 17px; */
    font-weight: 500;
    margin-left: 9px;
    position: relative;
    /* background-color: red; */
}
.navbar .active::before ,
.navbar .nav-link::before{
content: '';
height: 2px;
background-color: #fff;
position: absolute;
top: 100%;
/* left: 0px; */
}
.navbar .active::before{
width: 80% !important;
}
.navbar .nav-link::before{
    width: 0;
    transition: 0.5s;
}
.navbar .nav-link:hover::before{
    width: 80%;
}
.navbar .navbar-brand{
    font-size: 30px;
    font-weight: 700;
}
.dropdown-toggle::after{
    border: 0;
}
.navbar .nav-item .gry{
    background-color: #fff;
    position: absolute;
    right: 102%;
    top: 20px;
    padding-inline:20px;
    display: none;
}
.navbar .nav-item .antr-deep:hover .gry{
    display: block;
}
.navbar .nav-item .gry li{
    margin-block: 20px;
    font-size: 15px;
    font-weight: 500;
}
.navbar .parent {
    position: relative;
    background-color: blue !important;
}
.navbar .lists{
    background-color: red !important;
    position: absolute;
    left: 100%;
    top: 10px;
}
.navbar .dropdown-item{
    padding-top: 9px !important;
}
/* start media */
@media (max-width:992px){
    .navbar .active::before{
width: 0 !important;
}
.navbar .nav-link:hover::before{
    width: 0 !important;
}
.navbar .nav-link:hover{
 color: var(--main-color) !important;
}
.navbar .navbar-nav{
    background-color: #fff !important;
}
.navbar .nav-link{
    color: #000 !important;
}
.navbar .nav-item .gry{
    left: 45%;
    top: 0;
}

}
/* end media */
/* end Nav */
/* start home */
.home{
 background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url("../images/intro-bg.jpg");
    min-height: 100dvh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.home h1{
    font-size: 64px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.home .title span{
    font-size: 32px;
    text-align: center;
    color: #fff;
    display: block;
}
.home span::after{
    content: '';
    animation: typing 14s;
}
@keyframes typing{
 0% {
    content: "D|";
}
1% {
    content: "De|";
}
2% {
    content: "Des|";
}
3% {
    content: "Desi|";
}
4% {
    content: "Desig|";
}
5% {
    content: "Design|";
}
6% {
    content: "Designe|";
}
7% {
    content: "Designer|";
}
8% {
    content: "Designer|";
}
9% {
    content: "Designer|";
}
10% {
    content: "Designer|";
}
11% {
    content: "Designer|";
}
12% {
    content: "Designer|";
}
13% {
    content: "Designer|";
}
14% {
    content: "Designer|";
}
15% {
    content: "Designer|";
}
16% {
    content: "Designe|";
}
17% {
    content: "Design|";
}
18% {
    content: "Desig|";
}
19% {
    content: "Desi|";
}
20% {
    content: "Des|";
}
21% {
    content: "De|";
}
22% {
    content: "Dev|";
}
23% {
    content: "Deve|";
}
24% {
    content: "Devel|";
}
25% {
    content: "Develo|";
}
26% {
    content: "Develop|";
}
27% {
    content: "Develope|";
}
28% {
    content: "Developer|";
}
29% {
    content: "Developer|";
}
30% {
    content: "Developer|";
}
31% {
    content: "Developer|";
}
32% {
    content: "Developer|";
}
33% {
    content: "Developer|";
}
34% {
    content: "Developer|";
}
35% {
    content: "Developer|";
}
36% {
    content: "Developer|";
}
37% {
    content: "Develope|";
}
38% {
    content: "Develop|";
}
39% {
    content: "Develo|";
}
40% {
    content: "Devel|";
}
41% {
    content: "Deve|";
}
42% {
    content: "Dev|";
}
43% {
    content: "De|";
}
44% {
    content: "D|";
}
45% {
    content: "F|";
}
46% {
    content: "Fr|";
}
47% {
    content: "Fre|";
}
48% {
    content: "Free|";
}
49% {
    content: "Freel|";
}
50% {
    content: "Freela|";
}
51% {
    content: "Freelan|";
}
52% {
    content: "Freelanc|";
}
53% {
    content: "Freelance|";
}
54% {
    content: "Freelancer|";
}
55% {
    content: "Freelancer|";
}
56% {
    content: "Freelancer|";
}
57% {
    content: "Freelancer|";
}
58% {
    content: "Freelancer|";
}
59% {
    content: "Freelancer|";
}
60% {
    content: "Freelancer|";
}
61% {
    content: "Freelancer|";
}
62% {
    content: "Freelancer|";
}
63% {
    content: "Freelance|";
}
64% {
    content: "Freelanc|";
}
65% {
    content: "Freelan|";
}
66% {
    content: "Freela|";
}
67% {
    content: "Freel|";
}
68% {
    content: "Free|";
}
69% {
    content: "Fre|";
}
70% {
    content: "Fr|";
}
71% {
    content: "F|";
}
72% {
    content: "P|";
}
73% {
    content: "Ph|";
}
74% {
    content: "Pho|";
}
75% {
    content: "Phot|";
}
76% {
    content: "Photo|";
}
77% {
    content: "Photog|";
}
78% {
    content: "Photogr|";
}
79% {
    content: "Photogra|";
}
80% {
    content: "Photograp|";
}
81% {
    content: "Photograph|";
}
82% {
    content: "Photographe|";
}
83% {
    content: "Photographer|";
}
84% {
    content: "Photographer|";
}
85% {
    content: "Photographer|";
}
86% {
    content: "Photographer|";
}
87% {
    content: "Photographer|";
}
88% {
    content: "Photographer|";
}
89% {
    content: "Photographer|";
}
90% {
    content: "Photographer|";
}
91% {
    content: "Photographe|";
}
92% {
    content: "Photograph|";
}
93% {
    content: "Photograp|";
}
94% {
    content: "Photogra|";
}
95% {
    content: "Photogr|";
}
96% {
    content: "Photog|";
}
97% {
    content: "Photo|";
}
98% {
    content: "Phot|";
}
99% {
    content: "Pho|";
}
100% {
    content: "Ph|";
}
100% {
    content: "P|";
}
}
/* start media */
@media (max-width:992px){
  .home h1{
    font-size: 40px !important;
    font-weight: 500 !important;
  } 
  body{
    overflow-x: hidden;
  }
}
/* end media */
/* \end  home */
/* start about */
.about{
    margin-top: var(--main-margin);
    padding-block: var(--main-padding);
}
.about .container{
    background-color: #fff;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.7);
    border: 2px solid #fff;
    padding: var(--main-padding);
    width: 85% !important;
}
.about .about-detls p{
    font-weight: 500;
    color: #777;
    padding-bottom: 8px;
}
.about .about-detls p span{
    color: #000;
}
.about .about-headrs h4 {
margin-block: 10px;
width: fit-content;
border-bottom: 2px solid var(--main-color);
}
.about .about-headrs p{
    margin-bottom: 8px !important;
    color: #777;
}
.about .about-headrs .progress-p{
    margin-block: 20px;
}
.progress, .progress-stacked {
    border-radius: 0 !important;
    height: 0.8rem;
}
.progress .c-1{
    width: 85% !important;
}
.progress .c-3{
    width: 50% !important;
}
.progress .c-4{
    width: 90% !important;
}
.about .about-info h3{
    padding-block: 12px;
    font-size: 33px !important;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    width: fit-content;
}
.about .about-info h3::after{
    content: "";
    width: 70px;
    height: 3px;
    position: absolute;
    background-color: var(--main-color);
    left: 50%;
    bottom: 4px;
    transform: translateX(-50%);
}
.about .about-info p{
    color: #777;
    width: fit-content;
    border-bottom: 2px dotted var(--main-color);
    padding-bottom: 15px;
}
/* end about */
/* start servives */
.servivces{
    margin-top: var(--main-margin);
    padding-block: var(--main-padding);
    text-align: center;
}
.hdr{
    padding-block: 20px;
    position: relative;
       text-align: center;
}
.hdr h2{
    font-size:62px;
    letter-spacing: 1px;
    font-weight: 700;
}
.hdr p{
    font-size: 18px;    
    color: #777;

}
.hdr::after{
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* start media */
@media (max-width:992px){
    .hdr h2{
    font-size:50px;
    letter-spacing: 0px;
    font-weight: 500;
}
}
/* end media */
.servivces .item{
        background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    border: 2px solid #fff;
    padding: 15px 12px 0px;
    margin-top: 20px;
}
.servivces .item .icon{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    /* backgro9nd-color:#fff; */
    border: 10px solid var(--main-color);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.servivces .item:hover .icon{
    background-color: var(--main-color);
    color: #fff;
    border: 10px solid #CDE1F8;
}
.servivces .item h4{
    margin-block: 12px;
}
.servivces .item p{
    color: #777;
}
/* end servives */
/* start counter */
.counter{
    background-image: linear-gradient(rgb(0 120 255 / 60%) , rgb(0 120 255 / 60%)) , url("../images/counters-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
     margin-top: var(--main-margin);
    padding-block: 40px;
    min-height: 60vh;
    text-align: center;
    color: #fff;
}
.counter .icon{
    width: 80px;
    height: 80px;
        border-radius: 50%;
          font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
      border: 8px solid #CDE1F8;
      color: #fff;
      margin: auto;
}
.counter .item h4{
 margin-block: 10px;
 font-size: 26px;
}
/* start media */
@media (max-width:992px){
.counter .item{
    margin-bottom: 15px !important;
}
.row {
    padding-block: 10px !important;
}
}
/* end media */
/* end counter */
/* start work */
.work{
    margin-top: var(--main-margin);
    padding-block: var(--main-padding);
}
.work .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}
.work .item .card-hdr .card-text{
color: var(--main-color);
font-size: 13px;
}
.work .item .card-hdr .card-title{
color: #777;
}
.work .item .card-hdr span{
    color: #777;
    font-size: 13px;
}
.work .card img{
    transition: 1s;
}
.work .card:hover img {
transform: scale(1.3);
}
/* end work */
/* start carsoul */
.carsoul{
    margin-top: var(--main-padding);
    padding-block: var(--main-padding);
    background-image: linear-gradient(#64a8ebc2,#64a8ebc2) ,url("../images/overlay-bg.jpg");
    background-size: cover;
    background-position: center;
}
.carsoul .slide{
    width: 70% !important;
text-align: center !important;
margin: auto !important;
}

.carsoul .carousel-inner .carousel-item img{
    width: 130px !important;
    height: 130px;
    border-radius: 50%;
}

.carsoul .carousel-inner{
    padding-block: 12px;
    /* background-color: aqua; */
}
.carsoul .carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-indent: 0 !important;
}
/* end carsoul */
/* start blog */
.blog{
    margin-top: var(--main-margin);
    padding-block: var(--main-padding);
}
.blog .card .card-body{
    padding: 0 !important;
}
.blog .card .spn{
    background-color: var(--main-color);
    color: #fff;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translatex(-50%);
    padding:2px 18px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
}
.blog .card .card-tit {
    border-bottom: 1px solid #777;
    padding: 25px 15px;
}
.blog .card .card-tit h5:hover{
color: #0078FF;
cursor: pointer;
}
.blog .card .card-tit p{
    color: #777;
}
.blog .card .card-foot{
    padding: 12px ;
    color: #777;
}
.blog .card .card-foot .foot-img img {
   width: 40px !important;
}
/* start media */
@media (max-width:992px){
    .blog .card .spn{
        top: 40%;
    }
}
/* end media */
/* end blog */
/* start contact */
.contact{
    margin-top: var(--main-margin);
    padding-block: var(--main-padding);
       background-image: linear-gradient(rgb(0 120 255 / 60%),rgb(0 120 255 / 60%)) ,url("../images/overlay-bg.jpg");
    background-size: cover;
    background-position: center;
}
.contact .container{
   background-color: #fff;
   padding: 35px;
}
.contact .container h3{
    font-weight: 500;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 7px;
}
.contact .container h3::before{
    content: "";
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    top: 100%;
}
.contact .container form input{
    margin-bottom: 15px;
    padding: 10px !important;
}
.contact .container form textarea{
resize: vertical;
    margin-bottom:15px ;
    color: #777;
}
.contact .foot-text span{
    display: block;
    padding-block: 8px;
    color: #777;
}
.contact .foot-text span i{
    color: var(--main-color);
    margin-right: 5px;
    font-size: 19px;
}
.contact .foot-text ul {
    padding-left: 0px !important;
}
.contact .foot-text .icons{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 4px solid var(--main-color);
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 0px 0px;
}
/* start media */
@media (max-width:992px) {
     .contact {
        padding-block: 60px !important;
     }
    .contact .container{
        width: 85% !important;
        padding-inline: 30px;
    }
}
/* end media */
/* end contact */
/* start footer */
.footer {
    background-color: #0062D3;
    text-align: center;
    padding-block: 25px;
    border: 2px solid #0062D3;
    color: #fff;
}
/* end footer */
/* ====the Arrow==== */
.arrow{
    background-color: var(--main-color);
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 999;
}
/* start media od arrow */
@media (max-width:992px){
    .arrow{
           right: 0px !important;
    bottom: -2px !important;
    }
}